# app db
pingoh.db

# app log
pingoh.log

# app binaries
pingoh
pingoh.exe

# ws client https://github.com/vi/websocat
websocat.x86_64-pc-windows-gnu.exe

# swap file
.fuse_hidden*

# mac stuff
.DS_Store